test
app_python/.venv
app_python/.pytest_cache
app_python/__pycache__
.idea
.vscode
.pytest_cache

# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
terraform.tfvars

# Sensitive files
secrets.auto.tfvars
.env

Pulumi.*.yaml
venv/
__pycache__/

# Node / Cloudflare Workers
node_modules/
.wrangler/
.dev.vars

# Ansible
*.retry
.vault_pass
ansible/inventory/*.pyc
__pycache__/
